emacs/.emacs.d/eshell/history
emacs/.emacs.d/eshell/lastdir
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/recentf
emacs/.emacs.d/network-security.data
emacs/.emacs.d/custom.el
emacs/.emacs.d/auto-save-list/.saves*
